extends views/layout.pug 

block meta
  title Rightpuff Cannabis - Contact Us
  meta(name="description" content="View our contact information. Come visit us in store!")

block content
  div.container.py-5
    h1.mb-5 Contact Us
    div(style="width: 18rem;").card
      div.card-body 
        h2.card-title Hours
        ul(style="list-style-type: none; padding: 0;").card-text
          li SUN: 11-5pm
          li MON: 9-9pm
          li TUE: 9-9pm
          li WED: 9-9pm
          li THU: 9-9pm
          li FRI: 9-9pm
          li SAT: 9-9pm 
    div.row.my-5
      div.col-12.col-md-4.icon-box
        i.icon-box__icon.bi.bi-geo-alt-fill
        p.icon-box__text 919 Commissioners Rd E Suite 3 • London, ON N5Z 3H9 • Canada
      div.col-12.col-md-4.icon-box
        i.icon-box__icon.bi.bi-telephone-fill
        p.icon-box__text 519-649-0111
      div.col-12.col-md-4.icon-box
        i.icon-box__icon.bi.bi-envelope-fill
        p.icon-box__text contact@rightpuff.ca

