extends views/layout.pug

block meta
  title Rightpuff Cannabis - Home
  meta(name="description" content="Welcome to Rightpuff Cannabis. Browse our selection of cannabis products and smoking accesories.")

block content
  div.container-fluid
    div.row.header-home.p-1.p-5-lg.d-flex.align-items-center.justify-content-center
      div.col
        h1.heading-primary.text-center
          span.heading-primary--main Rightpuff
          span.heading-primary--sub.mt-3 Smoking done right
          a(href="./shop.html")
            button(type="button").btn.btn-lg.btn-light.text-dark.mt-4 SHOP NOW      
            