extends views/layout.pug

block meta
  title Rightpuff Cannabis - Refund Policy
  meta(name="description" content="Details of our refund policy for online and in-store purchases.")

block content
  div.container 
    div.row 
      div.col.my-5 
        h1 Refund Policy 
        p. 
          Our policy lasts 14 days. If 14 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange. To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.
        ul
          li All cannabis products are final sale. Recalled cannabis items are eligible for a full refund.
          li Unused and/or defective non-cannabis items are eligible for a full refund within 14 days of purchase.
        p Additional non-returnable items:
        ul  
          li Gift cards
          li Downloadable software products
          li Some health and personal care items
        p.
          To complete your return, we require a receipt or proof of purchase. Please do not send your purchase back to the manufacturer. You may ship your product back to us or bring it to our retail store.
        p There are certain situations where only partial refunds are granted: (if applicable)
        ul
          li Any item not in its original condition, is damaged or missing parts for reasons not due to our error.
          li Any item that is returned more than 14 days after delivery.
        p.  
          Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.
          If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.
        p Late or missing refunds (if applicable):
        p.
          If you haven’t received a refund yet, first check your bank account again.
          Then contact your credit card company, it may take some time before your refund is officially posted.
          Next contact your bank. There is often some processing time before a refund is posted.
          If you’ve done all of this and you still have not received your refund yet, please contact us at contact@rightpuff.ca.
        p Exchanges (if applicable):
        p.
          We only replace items if they are defective or damaged.  If you need to exchange it for the same item, send us an email at contact@rightpuff.ca and send your item to: 919 Commissioners Rd E Suite 3, London, ON, N5Z3H9, Canada. You may also drop off your item to the same address.
        p.
          You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable.
        p.
          Depending on where you live, the time it may take for your exchanged product to reach you, may vary.
        p.
          If you are shipping an item over $75, you should consider using a trackable shipping service or purchasing shipping insurance. We don’t guarantee that we will receive your returned item.