extends /views/layout.pug

block meta
  title Rightpuff Cannabis - Shop Cannabis Flower, Pre-Rolls, Vapes and More!
  meta(name="description" content="Browse our selection of cannabis products and smoking accessories.")

block content
  div.container-fluid
    div.row.header-shop.p-5.d-flex.align-items-center.justify-content-center
      div.col.text-center
        h1.heading-primary
          span.heading-primary--main Shop
          span.heading-primary--sub.mt-3 Browse our selection
    div.container 
      div.row
        div.col 
          script(src="https://app.buddi.io/js/external-ropis.js" async)
