$primary: #00e0a7;
$secondary: #1a1a1a;
$font-family-base: "Kanit", Helvetica, Sans-Serif;
$font-weight-light: 100;
$font-weight-normal: 200;
$font-size-base: 1rem;
$font-weight-bold: 400;
$headings-font-family: "Bebas Neue", Sans-Serif;
$headings-font-weight: 400;