
$primary: #00e0a7;
$secondary: #1a1a1a;
$font-family-base: "Kanit", Helvetica, sans-serif;
$font-weight-light: 100;
$font-weight-normal: 200;
$font-size-base: 1rem;
$font-weight-bold: 400;
$headings-font-family: "Bebas Neue", sans-serif;
$headings-font-weight: 400;


@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400");

.navbar-brand {
  width: 250px;
  height: 50px;
  background: url(../images/logo.svg) no-repeat;
}

.header-home {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(26, 26, 26, 0.8), rgba(47, 45, 60, 0.8)), url(../images/hero1.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}

.header-shop {
  height: 50vh;
  background-image: linear-gradient(to right bottom, rgba(26, 26, 26, 0.8), rgba(47, 45, 60, 0.8)), url(../images/hero1.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}


.heading-primary {
  color: $gray-400;
}

.heading-primary--main {
  display: block;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-size: 3rem;
  letter-spacing: 1rem;
}

.heading-primary--sub {
  display: block;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.5rem;
}

.nav-item {
  text-transform: uppercase;
}

.announcement-bar {
  background-color: $gray-800;
}

#footer {
  color: rgba(255, 255, 255, 0.55);
}

.social {
  font-size: 2rem;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.buddi-online-menu .bdi-main-nav-z {
  z-index: 1000!important;
}

.icon-box {
  text-align: center;

  &__icon {
    font-size: 2rem;
  }

  &__text {
    margin: 1rem 0;
  }
}

@include media-breakpoint-down(sm) {

  .navbar-brand {
    margin: 0 auto;
  }

  .navbar-toggler {
    margin: 1rem auto;
  }

  .heading-primary--main {
    font-size: 2rem;
  }

}